@import "tailwindcss";

/* :root {
  background-color: var(--color-bg);
} */

@theme {
  --color-bg: #191B28;
  --color-primary: #AD2528;
  --color-border: #2A3439;
}

body {
  /* background-color: var(--color-bg); */
  @apply text-white bg-bg text-lg;
}

